*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family:'Amazon Regular' ;
   src: url(/fonts/AM-JP-UDShinGoNTPr6N-Reg.otf);
}
@font-face {
   font-family:'Amazon Bold' ;
   src: url(/fonts/AM-JP-UDShinGoNTPr6N-DeBold.otf);
}
@font-face {
   font-family:'Amazon light' ;
   src: url(/fonts/AM-JP-UDShinGoNTPr6N-Light.otf);
}

/*!  ------------------- HEADER-------------------  */
/** --------------header-top--------------*/
.header-top{
   background-color: #131921;
   height: 60px;
   display: flex;
   justify-content: space-between;
}
.left-nav{
   width: fit-content;
   height: 60px;
   display: flex;
}
.amazon-logo{
   margin-left: 11px;
   height: 56px;
   background-position: -2.35px -33px;
   background-repeat: repeat-x;
   width: 113px;
   border :  1px;
   /* margin: 4px 0 4px 11px; */
}
.logo-img{
   background-image: url(/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
   background-size: 349.5px;

}
.amazon-logo:hover{
   position: relative;
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.deliver-to{
   height: 60px;
   width: 90.64px;
}
.deliver-to-inner-div{
   height: 50px;
   width: 88.64px;
   margin: 5px 2px 5px 0px;
   padding: 0 9px;
   display: flex;
   align-items: center;
}
.deliver-to-inner-div:hover{
   position: static;
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.deliver-to-country{
   width: 52.638px;
   height: 30px;
   margin-left: 3px;
   /* position: static; */
   display: flex;
   flex-direction: column;
}
.location-logo{
   width: 15px;
   height: 18px;
   margin-top: 8px;
   background-position: -71px -378px;
}
.deliver-to-text-span{
   font-family: 'Amazon regular';
   color: #CCCCCC;
   font-size: 10.5px;
}
.country-text-span{
   font-family: 'Amazon bold';
   color: #FFFFFF;
   font-size: 14px;
   padding:0 0 1px ;
   height: 16px;
   display: flex;
   align-items: flex-end;
}
/**----↓------middle-nav----↓------*/
.middle-nav{
   /* width: 918.71px; */
   /* width: auto; */
   height: 60px;
}
.search-box{
   min-width: 800px;
   height: 60px;
   padding: 10px 4px 10px 3px;
   margin: 0 10px;
   /* background-color: #FFFFFF; */
}
.search{
   width: 100%;
   height: 40px;
   background-color: #FFFFFF;
   border-radius: 8px;
   display: flex;
   justify-content: flex-end;
}
.search-icon{
   height: 100%;
   width: 50px;
   border-radius: 0 8px 8px 0;
   background-color: #F3A847;
   background-image: url(/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
   background-repeat: repeat-x;
   background-position: 5px -280px;
   background-size: 350px;
}
/**----↓------right-nav----↓------*/
.right-nav{
   /* width: 383.85px; */
   width: fit-content;
   height: 60px;
   margin: 2px 0 0 ;
   padding: 3px 0px 0px ;
   display: flex;
}
/**----↓------language----↓------*/
.language{
   height: 50px;
   width: 73.38px;
   margin: 0 0 0 1px;
   padding: 0 9px 10px;
   display: flex;
   align-items: flex-end;
   font-weight: 700;
   font-family: 'Amazon Regular';
}
.language:hover{
   position: static;
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.empty{
   height: 19px;
   width: 54.38px;
   margin: 0 0 0 1px;
   display: flex;
   align-items: flex-end;
}

.flag{
   width: 21.6px;
   height: 16.2px;
   margin: 0 4px 1px 0;
   padding: 0 0px ;
   background-image: url(/images/fe2UeLQmJ11kKHN-FLAG.png);
   background-position: 0px -130px;
}
.EN{
   width: 18.375px;
   height: 15px;
   font-size: 14px;
   font-weight: 700;
   line-height: 15px;
   text-size-adjust: 100%;
   color: #FFFFFF;
}
.arrow-down{
   width: 8px;
   height: 4px;
   margin: 3px 0 0px 5px;
   /* background-image: url(/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png); */
   /* background-position: 0px 476px; */
   /* background-repeat: repeat-x; */
   border-bottom: rgb(0, 0, 0)  solid  0px;
   border-left: rgb(0, 0, 0)  solid 4px;
   border-right: rgb(0, 0, 0)  solid 4px;
   border-top:4px rgb(167, 172, 178) solid;
   /* display: flex; */
   /* align-items: center; */
   visibility: visible;
}
/**----↓------sign-in----↓------*/
.sign-in{
   width: 131.53px;
   height: 50px;
   color: #D6D6D6;
   margin: 0px 0px 0px 2px;
   padding: 00px 9px 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   font-family: 'Amazon Regular';
   font-size: 14px;
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
   position: relative;
}
.sign-in:hover{
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.Hello{
   width: 71.41px;
   height: 14px;
   color: #FFFFFF;
   font-size: 11px;
   font-weight: 400;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
}
.Account{
   width: 113.53px;
   height: 15px;
   color: #FFFFFF;
   font-size: 13px;
   font-weight:700 ;
   font-family: 'Amazon regular';
   display: flex;
   align-items: center;
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
}
/**----↓------orders-return----↓------*/
.orders-return{
   width: 76.95px;
   height: 50px;
   margin: 0px 0px 0px 2px;
   padding: 0px 9px 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.orders-return:hover{
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.return{
   width: 58.95px;
   height: 13px;
   margin: 9px 0px 0px;
   font-size: 11px;
   font-weight: 400;
   color: #FFFFFF;
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
   font-family: 'Amazon Regular';
}
.orders{
   width: 58.95px;
   height: 15px;
   /* margin: 9px 0px 0px; */
   font-size: 13px;
   font-weight: 700;
   color: #FFFFFF;
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
   font-family: 'Amazon Regular';
}
/**----↓------cart----↓------*/
.shop{
   width: 84px;
   height: 50px;
   margin: 0px 11px 0px 2px;
   padding: 0px 9px 11px;
   font-size: 14px;
   color: #D6D6D6;
   font-family: 'Amazon Regular';
   display: flex;
   /* flex-direction: column; */
   /* justify-content: flex-end; */
}
.cart-left{
   width: 38px;
   height: 39px;
   padding: 0 0 0 1px;
   font-size: 14px;
   color: #D6D6D6;
   font-family: 'Amazon Regular';
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   position: relative;

}
.zero{
   width: 19px;
   height: 16px;
   color: #F08804;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Amazon Regular';
   position: absolute;
   left: 13px;
   right: 6px;
   top: 8px;
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   text-align: center;
}
.bucket{
   width: 38px ;
   height: 26px ;
   background-image: url(/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
   background-size: 350px;
   /* position: static; */
   background-position: -10px -340px;
}
.cart-right{
   width: 28px;
   height: 39px;
   display: flex;
   align-items: flex-end;

}
.cart-text{
   width: 28px;
   height: 15px;
   font-size:12px;
   font-weight: 700;
   color: #FFFFFF;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;

}


/** -------↓-------header-middle------↓--------*/
.header-middle{
   background-color: #232F3E;
   height: 39px;
   padding-left: 11px;
   display: flex;
}
.all-left{
   width: 58.41px;
   height: 39px;
   /* color: #0F1111; */
   /* font-size: 12px; */
   /* font-family: 'Amazon Regular'; */
}
.all-left-inner{
   width: 58.41px;
   height: 28px;
   color: #FFFFFF;
   /* font-size: 25px; */
   /* font-family: 'Amazon Regular'; */
   margin: 5px 0 6px;
   padding: 8px 9px;
   position: absolute;
   display: flex;
}
.all-left-inner:hover{
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.hm-icon{
   width: 17px;
   height: 14px;
   background-image: url(/images/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
   background-size: 350px;
   background-position: -172px -255px;
   /* position: absolute; */
   color: #FFFFFF;
}
.hm-icon-label{
   width: 23.41px;
   height: 12px;
   padding: 0 0 0 5px;
   font-size: 13px;
   font-weight: 700;
   font-family:  'Amazon Regular';
   text-size-adjust: 100%;
   text-decoration-thickness: auto;
   white-space: nowrap;
}
.rest-navbar-right{
   width: 100%;
   height: 39px;
   color: #0F1111;
   display: flex;
}
.today
,.customer
,.registery
,.gift
,.sell
,.local{
   margin: 5px 0 6px;
   padding: 8px 9px ;
   color: #FFFFFF;
   font-family:  'Amazon Regular';
   /* position: absolute; */
   font-size: 12px;
}
.today:hover,.customer:hover,.registery:hover,.gift:hover,.sell:hover,.local:hover{
   border: 1px solid rgba(255, 255, 255);
   border-radius: 2px;
}
.today{
   width: 102.81px;
   height: 28px;
}
.customer{
   width: 128.34px;
   height: 28px;
}
.registery{
   width: 69.79px;
   height: 28px;
}
.gift{
   width: 81px;
   height: 28px;
}
.sell{
   width: 41.3px;
   height: 28px;
}
.local{
   width: 160px;
   height: 28px;
}

/** --------↓------header-bottom------↓--------*/
.header-bottom{
   height: 48px;
   background-color: #D8F7EB;
   padding: 14px 18px;
}

.text-div{
   /* display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 48px;
   padding: 14px 18px; */
   /* display: block; */
   /* overflow-x: auto; */
   /* overflow-y: auto; */
   /* height: 20px; */
   /* height: 48px; */
}
.We-are-experiencing{
   color: #0F1111;
   width: fit-content;
   height: 17.6px;   
   font-size: 12px;
   font-weight: 700;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
}

/*!  ---------↓-↓---------MAIN CONTAINER------↓-↓------------  */
.main-container{
   margin-left: 9.6px;
   margin-right: 9.6px;
   margin-top: 0;
   margin-bottom: 0;

   
}
.main-container1{
   /* margin: auto; */
   /* width: 90vw; */
}
/**---↓---- sports-outdoors ------↓--*/
.sports-outdoors{
   font-size: 12px;
   line-height: 16px;
   text-size-adjust: 100%;
   margin-top: 4px;
   padding: 0 16px;
}
.sports-outdoors>a,.sports-outdoors>span{
   text-decoration: none;
   margin-right: 5.082px;
   font-size: 10px;
   line-height: 16px;
   text-size-adjust: 100%;
   color: #565959;
   font-family: 'Amazon Regular';
}
/*?---↓---- container-content ------↓--*/
.container-content{
   width: 100%;
   height: 720px;
   display: flex;
   margin-top: 20px;
   padding: 0 18px 0 18px;
}
/**---↓---- right-top-small-image ------↓--*/
.right-top-small-image{
   height: 42px;
   /* width: 42px; */
   border:solid 1px  #F08804;
   box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
}
/**---↓---- right-top-big-image ------↓--*/
.right-top-big-image{
   margin: 2px;
   width: fit-content;
   padding-left: 33px;
}

.right-top-big-image>img{
   height: 613px;
   /* width: 557px; */
}
/**---↓----middle-product-description------↓--*/
.middle-product-description{
   /* width: 513px; */
   height: 502px;
   margin: 0 0 0 45px;
}
.top-title-h1{
   width: 100%;
   height: 64px;
   /* margin: 0 0 0 45px; */

}
.top-title-h1-text{
   font-size: 20px;
   font-family: 'Amazon Regular';
   font-weight: 600;
   line-height: 32px;
   text-size-adjust: 100%;
   word-break: break-word;
   margin: 0;
}
.brand-sticky-bumps>a{
   text-decoration: none;
   font-size: 12px;
   font-family: 'Amazon Regular';
   color: #007185;
}
.brand-sticky-bumps>a:hover,.ratings-855>a:hover
,.answered-questions>a:hover
,.surfboard>a:hover,.Details-a:hover,.other-sellers:hover,.Learn-more:hover
,.a:hover,
.secure:hover,.Sold-by:hover{
   color: #E0A085;
   text-decoration: underline;
}
/**---↓----second-div-stars-and-desc------↓--*/
.second-div-stars-and-desc{
   height: 20px;
   margin-top: 2px;
   display: flex;
}
.left-stars-div{
   height: 20px;
   width: 190px;
   display: flex;
   justify-content: space-between;
}
.stars-and-arrow{
   /* width: 96px; */
   height: 18px;
   display: flex;

}
.stars{
   width: 80px;
   height: 18px;
   background-image:url(/images/stars.png) ;
   background-size: 512px 512px;
   background-repeat: no-repeat;
   background-position: -2px -2px;
}
.arrow-icon{
   width: 7px;
   height: 5px;
   margin: 5px 0 0 9px;
   background-image:url(/images/McBZv0ZvnbehkIx-arrow.png) ;
   background-size: 400px 900px;
   background-repeat: no-repeat;
   background-position: -90px -5px;
   opacity: 0.6;
}
.ratings-855>a{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Amazon Regular';
   color: #007185;
}
.line-90deg{
   width: 17.61px;
   height: 17.6px;
   padding: 0px 5px ;
   margin-left: 5px;
   color: #666;
   font-size: 16px;
   
}
.answered-questions>a{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Amazon Regular';
   color: #007185;
}
/**---↓----third-div-amazon-choice------↓--*/
.third-div-amazon-choice{
   width: 100%;
   height: 22px;
   margin: 5px 0 10px;
   display: flex;
}
.amazon-choice{
   background-color: #232F3E;
   height: 22px;
   width: 106px;
   border-color: #232F3E;
   font-family: 'Amazon Regular';
   display: flex;
   align-items: center;
}
.amazon-choice-rec{
   width: 0;
   height: 0;
   border-right: 10px solid transparent;
   border-top: 22px solid;
   color: #232F3E;
}
.amazon{
   color: #FFFFFF;
   font-size: 11px;
   margin: 0 3px 0 6px;
}
.choice{
   color: #F69931;
   font-size: 11px;
   margin: 0 3px 0 3px;
}
.for-surf{
   width: 110.5px;
   height: 22px;
   margin:0 0 0 5px ;
   font-family: 'Amazon Regular';
}
.for{
   font-size: 12px;
}
.surfboard>a{
   text-decoration: none;
   font-size: 10px;
   font-family: 'Amazon Regular';
   color: #007185;
}
/**---↓---- first-hr------↓--*/
.first-hr{
   width: 100%;
   height: 0px;
   border-top: 1px solid #e7e7e7;
   background-color: transparent;
   margin-bottom: 14px;
}
/**---↓----discount-price------↓--*/
.discount-price{
   width: 100%;
   height: 35.2px;
   display: flex;

}
.discount{
   width: fit-content;
   font-family: 'Amazon light';
   font-size: 20px;
   font-weight: 400;
   color: #CC0C39;
   text-size-adjust: 100%;
   vertical-align: middle;
}

.price{
   width: 66px;
   height: 35.2px;
   font-family: 'Amazon Regular';
   display: flex;
   margin-left: 10px;
   text-size-adjust: 100%;
   vertical-align: middle;
}
.ils{
   width: 17.84px;
   height: 16.8px;
   font-size: 12px;
   margin-top: 3px;
}
.price-49{
   width: 32.8px;
   height: 35.2px;
   font-size: 25px;

}
.price-17{
   width: 17.84px;
   height: 16.8px;
   font-size: 12px;
   margin-top: 3px;
}

/**---↓----list-price------↓--*/
.list-price{
   width: 100%;
   height: 20px;
   margin: 0 0 8px;
   font-family:'Amazon Regular' ;
   font-size: 10.5px;
   text-size-adjust: 100%;
   opacity: 0.6;
   display: flex;
   align-items: center;
}
.list-price-text{
   margin-right: 3px;
}
.ils-54-72{
   text-decoration: line-through;
}
.mark{
   width: 11.63px;
   height: 11.63px;
   fill: #969696;
   margin-left: 3px;
}
.mark:hover{
   fill:#555555;
}
/**---↓----no-import------↓--*/
.no-import{
   display: flex;
   font-size: 12px;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
   opacity: 0.8;
}
.Details{
   display: flex;
}
.Details-a{
   text-decoration: none;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
}
/**---↓----available-at------↓--*/
.available-at{
   height: 40px;
   font-family: 'Amazon Regular';
   font-size: 12.5px;
   line-height: 20px;
   margin: 3px 0  8px 0;
   text-size-adjust: 100%;
}
.other-sellers,.Learn-more{
   text-decoration: none;
   font-family: 'Amazon Regular';
   color: #007185;
   /* margin-left: 3px; */

}
/**---↓----list-div------↓--*/
.list-div{
   height: 80px;
   margin: 8px 0 16px;
}
.ul-div{
   height: 80px;
   width: 100%;
   margin: 0 0 4px 18px;
   line-height: 20px;
   font-size: 12px;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
}
/**--↓----additional-details-div-----↓--*/
.additional-details-div{
   height: 95px;
   padding-top:4px ;
   margin-bottom: 16px;
   font-family: 'Amazon Regular';
   line-height: 24px;  
}
.additional-details{
   height: 28px;
   padding: 0 0 4px;
   display: block;
   font-size: 14px;
   font-weight:bold;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%; 
}
.store-icon-and-text{
   height: 47.8px;
display: flex;
}
.store-icon{
   height: 47.8px;
   width: 45px;
   padding: 0px 6px 0 0 ;
   margin-right: 5px;
   margin-top: 6px;
   background-image: url(https://m.media-amazon.com/images/I/111mHoVK0kL._AC_UL34_SS42_.png);
}
.store-icon-text{
   width: 450.18px;
   height: 47.8px;

}
.small-business{
   height: 20px;
   margin: 0 0 4px;
   font-family:'Amazon Regular';
   font-size: 14px;
   display:block;
}
.this-product{
   font-size: 12px;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
   opacity: 0.8;
}
/**--↓-------fees-right-div--------↓--*/
.fees-right-div{
   height: 1083px;
   width: 244px;
   margin-left:20px ;
   /* border: 1px #D5D9D9 solid;
   border-radius: 8px; */
}
.fees-right-div2{
   height: 720px;
   width: 100%;
   margin-left:20px ;
   border: 1px #D5D9D9 solid;
   border-radius: 8px;
}

.fees-right-inner-div{
   width: 242px;
   height: 718px;
   padding: 14px 18px;
}

.price2{
   width: 66px;
   height: 35.2px;
   font-family: 'Amazon Regular';
   display: flex;
   text-size-adjust: 100%;
   vertical-align: middle;
}
.ils2{
   width: 17.84px;
   height: 16.8px;
   font-size: 12px;
   margin-top: 3px;
}
.price-492{
   width: 32.8px;
   height: 35.2px;
   font-size: 25px;
}
.price-172{
   width: 17.84px;
   height: 16.8px;
   font-size: 12px;
   margin-top: 3px;
}

.no-import2{
   /* display: flex; */
   font-size: 12px;
   font-family: 'Amazon Regular';
   text-size-adjust: 100%;
   opacity: 0.8;
   line-height: 20px;
}
.Details2{
   display: flex;
}
.Details-a2{
   text-decoration: none;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
}
.ships-to{
   height: 20px;
   margin: 0 0 12px;
   font-family: 'Amazon Regular';
   font-size: 13px;
}
.delivery{
   height: 40px;
   margin: 0 0 12px;
   font-family: 'Amazon Regular';
   font-size: 12px;
   line-height: 20px;

}
.or-delivery{
   height: 40px;
   margin: 0 0 12px;
   font-family: 'Amazon Regular';
   font-size: 13px;
   line-height: 20px;
}

.del-to-div{
   height: 18px;
   display: flex;
   align-items: flex-end;
   font-family: 'Amazon Regular';

}
.del-to-logo{
   background: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
   height: 14px;
   width: 12px;
   margin: 2px 5px 0 0 ;
}
.a{
   font-size: 10px;
   text-decoration: none;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
}
.only-div{
   height: 48px;
   padding-top: 4px;
   margin-bottom: 12px;
   margin-top: 10px;
}
.only-span{
   color: #B12704;
   font-size: 16px;
   font-family: 'Amazon Regular';
   line-height: 20px;

}
#age{
   font-family: 'Amazon Regular';
   font-size: 12px ;
   border-radius: 10px ;
}
.add-to-cart{
   height: 29px;
   background-color: #ffdf4f;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
   font-size: 12px ;
   font-family: 'Amazon Regular';
}
.add-to-cart:hover{
   background-color:#F7CA00;
}
.Buy-Now{
   height: 29px;
   background-color: #eea245;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
   font-size: 12px ;
   font-family: 'Amazon Regular';
   line-height: 20px;
}
.Buy-Now:hover{
   background-color:#FA8900;
}

.secure-div{
   height: 18px;
   line-height: 20px;
   display: flex;
   /* justify-content: space-evenly; */
   margin-bottom: 12px;
}
.secure-logo{
   line-height: 20px;
   height: 18px;
   width: 17px;
   margin-right:10px ;
   background-image: url(https://m.media-amazon.com/images/G/01/x-locale/checkout/truespc/secured-ssl._CB485936932_.png);
}
.secure{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
   line-height: 20px;
}

.ships-from-div{
   height: 20px;
   display: flex;
   font-family: 'Amazon Regular';
   font-size: 11px;
   line-height: 20px;
   margin-top:5px;
}
.ships-from{
   width: 50%;
}
.ships-from-amazon{
   width: 50%;
}
.Sold-by{
   text-decoration: none;
   font-size: 11px;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
   line-height: 20px;
}
.return-policy{
   font-size: 13px;
   font-family: 'Amazon Regular';
   margin-top: 10px;
}
.return-policy-blank{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Amazon Regular';
   color: #007185;
   margin-left: 3px;
   line-height: 20px;
}
.add-gift-div{
   height: 40px;
   margin:6px 0 12px 0;
   display: flex;
   line-height: 20px;
   align-items: flex-start;
   font-size: 13px;
   font-family: 'Amazon Regular';
}
#terms{
   padding: 3px;
}
.add-to-list{
   height: 29px;
   width: 100%;
   padding: 0 10px 0 11px;
   background-color: #EEF0F2;
   border: 1px solid black;
   border-radius: 3px;
   display: flex;
   align-items: center;
}
.add-to-list-text{
   text-decoration: none;
   font-size: 12px;
   color: #0F1111;
   font-family: 'Amazon Regular';
}


